<body class="hold-transition login-page">
    <div class="register-box">
        <div class="register-logo">
            <a [routerLink]="['/registro']"><b>Registro</b>Spotify</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Registrar Spotify</p>

                <form (ngSubmit)="onSubmitRegistro()" #formRegistro="ngForm">
                    <div class="input-group mb-3">
                        <input [(ngModel)]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre Completo" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input [(ngModel)]="usuario.email" name="email" type="email" class="form-control" placeholder="Email" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input [(ngModel)]="usuario.password" name="password" type="password" class="form-control" placeholder="Password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <div class="social-auth-links text-center">
                    <a [routerLink]="['/login']">Iniciar Sesión</a>
                </div>
            </div>
            <!-- /.form-box -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.register-box -->
</body>