<app-loading *ngIf="loading"></app-loading>

<!-- Tarjetas para las Canciones -->
<div class="row">
    <div *ngFor="let cancion of canciones" class="col-sm-3">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" [src]="cancion.images[0].url" alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{cancion.name}}</h3>

                <p *ngFor="let artista of cancion.artists" class="text-muted text-center ml-2">{{artista.name | uppercase}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Total de Canciones</b> <a class="float-right">{{cancion.total_tracks | number}}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Fecha</b> <a class="float-right">{{cancion.release_date | date :'dd-MM-yyyy'}}</a>

                </ul>

                <a [routerLink]="['/inicio/artista',cancion.artists[0].id]" class="btn btn-success btn-block puntero"><b>Detalles</b></a>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<!-- /.card -->

<!-- Tarjetas para los Artistas -->

<div class="row">
    <div *ngFor="let artista of artistas" class="col-sm-3">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" [src]="artista.images | noimg" alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{artista.name}}</h3>

                <p *ngFor="let genero of artista.genres" class="text-muted text-center ml-2">{{genero | uppercase}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Popularidad</b> <a class="float-right">{{artista.popularity | number}}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Seguidores</b> <a class="float-right">{{artista.followers.total | number}}</a>

                </ul>

                <a [routerLink]="['/artista',artista.id]" class="btn btn-success btn-block puntero"><b>Detalles</b></a>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<!-- /.card -->