<body class="hold-transition login-page">

    <div class="container">
        <div class="offset-sm-4">
            <div class="login-box">
                <div class="login-logo">
                    <a href="../../index2.html"><b>Sesión</b>Spotiy</a>
                </div>
                <!-- /.login-logo -->
                <div class="card">
                    <div class="card-body login-card-body">
                        <p class="login-box-msg">Inicia sesión para comenzar tu sesión</p>

                        <form (ngSubmit)="onSubmitLogin()" #formLogin="ngForm">
                            <div class="input-group mb-3">
                                <input [(ngModel)]="usuario.email" name="email" type="email" class="form-control" placeholder="Email">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input [(ngModel)]="usuario.password" name="password" type="password" class="form-control" placeholder="Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">

                                </div>
                                <!-- /.col -->
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-block">IniciarSesión</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                        <p class="mb-0">
                            <a [routerLink]="['/registro']" class="text-center">Registrar en Spotify</a>
                        </p>
                    </div>
                    <!-- /.login-card-body -->
                </div>
            </div>
            <!-- /.login-box -->
        </div>
    </div>
    <!-- /.login-box -->
</body>