<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block" routerLinkActive="active">
            <a [routerLink]="['home']" class="nav-link">Home</a>
        </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input #inputBuscar (keyup)="inputAccionBuscar(inputBuscar.value)" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button [routerLink]="['/home',inputBuscar.value]" class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
            </div>
        </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Notifications Dropdown Menu -->
        <li *ngIf="isActivo" class="nav-item" (click)="logout()">
            <a class="btn btn-danger" data-widget="control-sidebar" data-slide="true" href="#">
              Logout
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->