<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="col-sm-12">
    <!-- Widget: user widget style 1 -->
    <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-success">
            <h3 class="widget-user-username">{{artista['name']}}</h3>
        </div>
        <div class="widget-user-image">
            <img class="img-circle elevation-2" [src]="artista['images'][0].url" [alt]="artista['name']">
        </div>
        <div class="card-footer mt-5">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 10px">Imagen</th>
                                <th>Album</th>
                                <th>Cancion</th>
                                <th style="width: 40px">Vista Previa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cancion of canciones">
                                <td>
                                    <div class="attachment-block clearfix">
                                        <img class="attachment-img" [src]="cancion.album.images[0].url" [alt]="cancion.name">
                                    </div>
                                </td>
                                <td>{{cancion.name}}</td>
                                <td>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-success" role="progressbar" [style.width.%]="cancion.popularity" aria-valuenow="[cancion.popularity]" aria-valuemin="0" aria-valuemax="100">{{cancion.popularity | number}}%</div>

                                    </div>
                                </td>
                                <td>
                                    <iframe [src]="cancion.uri | httpseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.col -->

            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->
</div>
